<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          {{util.translate('Store Information')}}
        </div>
        <div class="card-body">
          <div class="row">
            <c-nav variant="tabs">
              <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="0" cNavLink
                [active]="activeTab == 0 ? true : false">{{util.translate('Orders')}}</a>
              <a [cTabContent]="tabContent" [routerLink] [tabPaneIdx]="1" cNavLink
                [active]="activeTab == 1 ? true : false">{{util.translate('Reviews')}}</a>
            </c-nav>
            <c-tab-content #tabContent="cTabContent" [activeTabPaneIdx]="activeTab"
              (activeTabPaneIdxChange)="onTabChange($event)">
              <c-tab-pane class="p-3">
                <div class="dummy-orders" *ngFor="let item of dummyOrders">
                  <div class="fb-item">
                    <div class="first-section-wrapper">
                      <div class="gravatar">
                        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', height: '80px' }">
                        </ngx-skeleton-loader>
                      </div>
                      <div class="gravatar-title">
                        <div>
                          <ngx-skeleton-loader [theme]="{
                              width: '200px',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"></ngx-skeleton-loader>
                        </div>
                        <div>
                          <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }">
                          </ngx-skeleton-loader>
                        </div>
                      </div>
                    </div>
                    <div class="second-section-wrapper">
                      <div class="wrapper">
                        <ngx-skeleton-loader [theme]="{
                            width: '80%',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"></ngx-skeleton-loader>
                      </div>
                      <div class="wrapper">
                        <ngx-skeleton-loader [theme]="{
                            width: '90%',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"></ngx-skeleton-loader>
                      </div>
                      <div class="wrapper">
                        <ngx-skeleton-loader [theme]="{
                            width: '60%',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"></ngx-skeleton-loader>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="card_div"
                  *ngFor="let item of orders | paginate: {id:'pagin1', itemsPerPage: 5, currentPage: orderPage }"
                  (click)="openOrder(item)">

                  <div class="resto_detail">
                    <div class="back_image"
                      [ngStyle]="{'background-image':'url('+api.imageUrl+item.user_cover+'),url(assets/img/dummy.jpeg)'}">
                    </div>
                    <div style="margin-left: 10px;">
                      <label class="res_name">{{item.first_name +' '+item.last_name}}</label>
                      <label class="res_location">{{item.time}}</label>
                      <label class="res_name">{{util.translate('ID')}} : #{{item.id}}</label>
                    </div>

                  </div>

                  <div class="line_div"></div>

                  <div class="order_detail">
                    <label class="head_gray">{{util.translate('ITEMS')}}</label>

                    <div class="small_lbl">
                      <span *ngFor="let order of item.orders;let ol = index">
                        <div *ngIf="!order.selectedItem || !order.selectedItem.length" class="border_bottom">
                          <span>{{order.name}} X {{order.quantiy}}</span>
                          <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
                            {{order.price}}</span>
                          <span *ngIf="util.appSettings.currencySide == 'right'">{{order.price}}
                            {{util.appSettings.currencySymbol}}</span>
                        </div>

                        <div *ngFor="let subItems of order.selectedItem;let j = index" class="subNames">
                          <label class="food_title">{{order.name}} X {{order.selectedItem[j].total}}</label>
                          <div *ngFor="let addods of subItems.item" class="flex_titles">
                            <p class="sub_name">
                              - {{addods.name}}
                            </p>
                            <p class="sub_name">
                              <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
                                {{addods.value}}</span>
                              <span *ngIf="util.appSettings.currencySide == 'right'">{{addods.value}}
                                {{util.appSettings.currencySymbol}}</span>
                            </p>
                          </div>
                        </div>
                      </span>
                    </div>
                    <label class="head_gray">{{util.translate('ORDERED ON')}}</label>
                    <label class="small_lbl">{{item.time}} </label>
                    <label class="head_gray">{{util.translate('TOTAL AMOUNT')}}</label>
                    <label class="small_lbl">
                      <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
                        {{item.grand_total}}</span>
                      <span *ngIf="util.appSettings.currencySide == 'right'">{{item.grand_total}}
                        {{util.appSettings.currencySymbol}}</span>
                    </label>
                  </div>
                </div>

                <div *ngIf="orders?.length > 0">
                  <pagination-controls id="pagin1" (pageChange)="orderPage = $event"></pagination-controls>
                </div>

              </c-tab-pane>
              <c-tab-pane class="p-3">
                <div class="dummy-orders" *ngFor="let item of dummyReviews">
                  <div class="fb-item">
                    <div class="first-section-wrapper">
                      <div class="gravatar">
                        <ngx-skeleton-loader appearance="circle" [theme]="{ width: '80px', height: '80px' }">
                        </ngx-skeleton-loader>
                      </div>
                      <div class="gravatar-title">
                        <div>
                          <ngx-skeleton-loader [theme]="{
                              width: '200px',
                              'border-radius': '0',
                              height: '15px',
                              'margin-bottom': '10px'
                            }"></ngx-skeleton-loader>
                        </div>
                        <div>
                          <ngx-skeleton-loader [theme]="{ width: '170px', 'border-radius': '0', height: '15px' }">
                          </ngx-skeleton-loader>
                        </div>
                      </div>
                    </div>
                    <div class="second-section-wrapper">
                      <div class="wrapper">
                        <ngx-skeleton-loader [theme]="{
                            width: '80%',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"></ngx-skeleton-loader>
                      </div>
                      <div class="wrapper">
                        <ngx-skeleton-loader [theme]="{
                            width: '90%',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"></ngx-skeleton-loader>
                      </div>
                      <div class="wrapper">
                        <ngx-skeleton-loader [theme]="{
                            width: '60%',
                            'border-radius': '0',
                            height: '15px',
                            'margin-bottom': '10px'
                          }"></ngx-skeleton-loader>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="review-card"
                  *ngFor="let item of reviews | paginate: {id:'pagin2', itemsPerPage: 5, currentPage: reviewsPage }">
                  <div class="back_image"
                    [ngStyle]="{'background-image':'url('+api.imageUrl+item.cover+'),url(assets/img/dummy.jpeg)'}">
                  </div>

                  <div class="name-content">
                    <p class="way">{{util.translate('Received From')}} {{item.way}} </p>
                    <p class="name"> {{item.first_name}} {{item.last_name}} </p>
                    <p class="message"> {{item.msg}} </p>
                    <p class="date"> {{getDate(item.timestamp)}} </p>
                  </div>
                </div>

                <div *ngIf="orders?.length > 0">
                  <pagination-controls id="pagin2" (pageChange)="reviewsPage = $event"></pagination-controls>
                </div>
              </c-tab-pane>
            </c-tab-content>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
