<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          {{util.translate('All Products')}}
          <div class="card-header-actions">
            <button type="submit" class="btn btn-sm btn-warning" style="float: right;margin: 0px 5px;"
              (click)="importCSV()">
              {{util.translate('Bulk CSV Upload')}}
            </button> &nbsp;
            <button type="submit" (click)="exportCSV()" class="btn btn-sm btn-success"
              style="float: right;margin: 0px 5px;">
              {{util.translate('Export as CSV')}}
            </button>
          </div>
        </div>
        <div class="card-body">

          <div class="row flex_row">
            <div class="col-lg-12">
              <input type="text" class="form-control" id="name" [placeholder]="util.translate('Search Product')"
                (input)="search($event.target.value)">
            </div>
          </div>

          <div class="error_div" *ngIf="list?.length <= 0 && dummy?.length <= 0">
            <label>{{util.translate('No Data Found..')}}</label>
          </div>

          <table class="table table-responsive-sm table-hover mb-0">
            <thead *ngIf="list?.length > 0">
              <tr>
                <th>{{util.translate('Id')}}</th>
                <th>{{util.translate('Cover')}}</th>
                <th>{{util.translate('Name')}}</th>
                <th>{{util.translate('Price')}}</th>
                <th>{{util.translate('Rating')}}</th>
                <th>{{util.translate('Category Name')}}</th>
                <th>{{util.translate('Store Name')}}</th>
                <th>{{util.translate('Action')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of dummy">
                <td *ngFor="let item of [1,2,3,4]">
                  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                </td>
              </tr>
              <tr *ngFor="let item of list | paginate: {id:'pagin1', itemsPerPage: 10, currentPage: page }">
                <td>{{item.id}} </td>
                <td>
                  <img class="img-responsive" style="height: 20px;width: 20px; object-fit: cover;"
                    [src]="api.imageUrl + item.cover" onError="this.src='assets/img/dummy.jpeg'">
                </td>
                <td>{{item.name}}</td>
                <td>
                  <span *ngIf="util.appSettings.currencySide == 'left'">{{util.appSettings.currencySymbol}}
                    {{item.price}}</span>
                  <span *ngIf="util.appSettings.currencySide == 'right'">{{item.price}}
                    {{util.appSettings.currencySymbol}}</span>
                </td>
                <td>{{item.rating}}</td>
                <td>{{item.cate_name}}</td>
                <td>{{item.store_name}}</td>
                <td>
                  <c-badge [color]="item.status == 1 ? 'success' :'dark'"
                    [class]="item.status == 1 ? 'me-1 badge bg-success' :'me-1 badge bg-dark' "
                    (click)="statusUpdate(item)">
                    {{item.status == 1 ?util.translate('Active'): util.translate('Deactived')}}
                  </c-badge>

                  <c-badge color="danger" class="me-1 badge bg-danger" (click)="deleteItem(item.id)">
                    {{util.translate('Delete')}}
                  </c-badge>
                </td>
              </tr>
            </tbody>
          </table>

          <div *ngIf="list?.length > 0">
            <pagination-controls id="pagin1" (pageChange)="page = $event"></pagination-controls>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div bsModal #myModal3="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-warning" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{util.translate('Bulk CSV Upload')}} </h5>
        <button type="button" class="close" (click)="myModal3.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body long_content">
        <div class="form-group row">
          <div class="col-md-12">
            <input (change)="uploadCSV($event.target.files)" type="file" id="file-input" name="file-input"
              accept=".csv">
          </div>
        </div>
        <button type="button" class="btn btn-warning" style="float: right;" (click)="downloadSample()">
          {{util.translate('Download Sample CSV')}} &nbsp; <i class="fa fa-cloud-download"></i></button>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="myModal3.hide()">{{util.translate('Close')}}</button>

        <button type="button" class="btn btn-warning" (click)="saveType()">
          {{util.translate('Save Changes')}}</button>
      </div>
    </div>
  </div>
</div>