<!--
  Authors : initappz (Rahul Jograna)
  Website : https://initappz.com/
  App Name : Food Delivery Ionic 7 And Laravel
  This App Template Source code is licensed as per the
  terms found in the Website https://initappz.com/license
  Copyright and Good Faith Purchasers © 2023-present initappz.
-->
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          {{util.translate('Manage Languages')}}
        </div>
        <div class="card-body">

          <!-- <form> -->
          <div class="form-group">
            <label>{{util.translate('Language Name')}}</label>
            <input type="text" [(ngModel)]="name" class="form-control" [placeholder]="util.translate('Language Name')">
          </div>

          <div class="form-group">
            <label>{{util.translate('Language Direction')}} <span style="color: red;">*</span> </label>
            <select class="form-control" [ngModelOptions]="{standalone: true}" [(ngModel)]="position">
              <option [value]="0">{{util.translate('LTR')}} </option>
              <option [value]="1"> {{util.translate('RTL')}}</option>
            </select>
          </div>

          <div class="form-group row">
            <label class="col-lg-4 col-form-label">{{util.translate('Image Upload')}}</label>
            <div class="col-lg-4">
              <input (change)="preview_banner($event.target.files)" type="file" class="form-control file_ip"
                accept="image/*">
            </div>
            <div class="col-lg-4">
              <img [src]="api.imageUrl+ coverImage" alt=""
                style="height: 100px;width: 100px;float: right;object-fit: contain;"
                onError="this.src='assets/img/dummy.jpeg'">
            </div>
          </div>

          <table class="table table-striped">
            <thead>
              <tr>
                <th>{{util.translate('Translation Key')}}</th>
                <th>{{util.translate('Translation Value')}}</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of languagesJSON">
                <td width="50%">{{item.key}}</td>
                <td width="50%">
                  <input type="text" class="form-control" [(ngModel)]="item.value">
                </td>
              </tr>
            </tbody>
          </table>

          <!-- </form> -->

          <button type="button" class="btn btn-success" *ngIf="!edit" (click)="create()">
            {{util.translate('Add Language')}}
          </button>
          <button type="button" class="btn btn btn-primary" *ngIf="edit" (click)="update()">
            {{util.translate('Update Language')}}
          </button>

        </div>
      </div>
    </div>
  </div>
</div>
